@import '../../styles/variables.scss';

.colorInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    .colorInput {
        margin-right: 5px;
        width: 14px;
        height: 14px;
        border: 1px solid $outline;
        border-radius: 2px;
    }

    .colorInputTitle {
        font-size: 14px;
        margin-left: 3px;
    }
}
