
$cell-dimension: 10px;

.cell {
    width: $cell-dimension;
    height: $cell-dimension;
    border: 1px solid black;

    &Alive {
        @extend .cell;
        background-color: black;
    }

    &Dead {
        @extend .cell;
        background-color: white;
    }
}