@import '../../styles/variables.scss';

.formElement {
    margin: 10px;

    .formLabel {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .formInput {
        padding-left: 10px;
    }
}

.errorMessage {
    color: $error;
}
