@import '../../styles/variables.scss';

.formElement {
    margin: 10px;

    .formLabel {
        display: flex;
        align-items: center;
    }

    .formInput {
        display: flex;
        flex-direction: row;
        align-items: center;

        & > * {
            margin-left: 5px;
        }
    }

    .marginTop5 {
        margin-top: 5px;
    }

    .marginLeft25 {
        margin-left: 25px;
    }
}

.buttonContainer {
    margin-top: 15px;
}

.errorMessage {
    color: $error;
}
