@import '../styles/variables.scss';

$logo-size: 100px;
$logo-margin: 20px;

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titleContainer {
    @extend .container;
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    margin-right: calc(#{$logo-size} + (#{$logo-margin} * 2));

    .titleLogo {
        margin: $logo-margin;
    }

    .titleLogoTextContainer {
        .titleText {
            font-size: 75px;
            font-weight: bold;
            color: $white;
        }

        .subtitleText {
            font-size: 25px;
            margin-top: -30px;
            color: $secondary;
        }
    }
}

.descriptionContainer {
    @extend .container;
    margin-top: 25px;

    .text {
        color: $white;
    }
}

.buttonContainer {
    @extend .container;
    margin-top: 35px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    .actionButton {
        margin: 15px;
        width: 200px;
    }
}
