@import '../../styles/variables.scss';

.headerIcon {
    color: $white;
    font-size: 20px;
    margin-top: 10px;
}

.pageLayout {
    display: flex;
    display: flex;
    flex-direction: column;
    flex: 1;

    .pageElementContainer {
        display: flex;
        justify-content: center;
    }
}
